@mixin flexRow($gap: 0, $align: center, $justify: flex-start) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin flexColumn($gap: 0, $align: center, $justify: flex-start) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}