$primary-dark: #111224;
$secondary-dark: #14152C;
$text-dark: #FAEBD7;
$accent-dark: #FCA311;
$action-default-dark: #5558B5;
$action-hover-dark: #686CDE;
$action-active-dark: #191A35;
$action-loading-dark: #42448C;
$action-disabled-dark: #2F3063;

$primary-light: #FAEBD7;
$secondary-light: #FFE4AF;
$text-light: #38383B;
$accent-light: #FCA311;
$action-default-light: #FFD076;
$action-hover-light: #DBB265;
$action-active-light: #B39152;
$action-loading-light: #8A7B5F;
$action-disabled-light: #8A7B5F;